.wrapper {
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.commentsSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

.commentsSection h2 {
    margin-bottom: 1.25rem;
    font-family: var(--type-second);
    line-height: 1.4;
}

.loading {
    font-family: var(--type-first);
    font-size: 1rem;
    line-height: 1.4;
    color: #55c;
    padding: 1rem 2rem;
}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.noComments {
    font-family: var(--type-first);
    font-size: 1rem;
    line-height: 1.4;
    padding: 1rem 2rem;
}

@media (max-width: 60rem) {
    .wrapper {
        margin: 10rem 1rem;
    }

    .loading {
        padding: 1rem;
    }

    .comments {
        grid-template-columns: 1fr;
    }

    .noComments {
        padding: 1rem;
    }
}