.wrapper {
    max-width: 60rem;
    margin: -6rem auto;
    padding: 0 2rem;
}

.content {
    font-family: var(--type-first);
    font-size: 1.25rem;
    line-height: 1.2;
    color: #333;
    margin: auto;
    margin-top: 8rem;
    text-align: center;
}

@media (max-width: 60rem) {
    .content {
        font-size: 1.125rem;
    }
}