.summary {
    padding-top: 3rem;
    height: 30vh;
    background-image: linear-gradient(to bottom left,  #226, #55c);
}
  
.summary h1 {
    font-family: var(--type-second);
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    color: #fff;
}

@media (max-width: 60rem) {
    .summary {
        padding-top: 2rem;
        height: 20vh;
    }
}