.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    height: 5rem;
    background-color: #222;
}
  
.logo {
    font-size: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo a {
    font-family: var(--type-second);
    color: #ddd;
    line-height: 1.2;
}
  
.navigation a {
    font-size: 1rem;
    line-height: 1.4;
    color: #fff;
    transition: .3s;
}

.navigation a:hover {
    opacity: .7;
    transition: .3s;
}
  
@media (max-width: 60rem) {
    .logo {
        font-size: 1.5rem;
    }

    .header {
        padding: 1rem 1rem;
    }
}