.alert {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    max-width: 20rem;
    background-color: #dbf;
    border-radius: 4px;
}

.alert p {
    font-family: var(--type-first);
    color: #308;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
}